$whiteColor: #ffff;
$lightGrayColor: #f1f1f1;
$darkGrayColor: #919191;
$blackColor: #1a1a1a;
$blueColor: #36c2f5;

$layoutBackground: $lightGrayColor;
$layoutContentBackground: #ffff;

$loaderProgressColor: $blueColor;
$loaderBackground: rgba(255, 255, 255, 0.5);
$loaderRangeColor: #f3f3f3;

$commentSeparatorColor: $lightGrayColor;
$commentContentColor: $blackColor;
$commentDateColor: $darkGrayColor;
$commentBackgroundColor: $whiteColor;

$commentTextareaBorderColor: $lightGrayColor;
$commentSubmitButtonColor: $blueColor;
